<!doctype html>
<html ng-app ng-controller="MasterControl">
    <head>
        <link rel="stylesheet" type="text/css" href="css/semantic.css">
        <link rel="stylesheet" type="text/css" href="css/mit_midway.css">

        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/md5.js"></script>
        <script type="text/javascript" src="js/angular.js"></script>
        <script type="text/javascript" src="js/semantic.js"></script>
        <script type="text/javascript" src="js/mit_midway.js"></script>
        <script type="text/javascript" src="js/kerb_hashes.js"></script>
    </head>
    <body>
        <div id="boxy1" class="boxy">
            <h1>
                I'm interested in signing up for Traders@MIT!
            </h1>
        </div>
        <div id="boxy2" class="boxy">
            <div class="ui action input">
                <input placeholder="my_kerberos" type="text"
                       ng-model="kerberos" ng-model-instant
                       ng-keypress="enter($event)">
                <div class="ui green right labeled icon button"
                     ng-if="isValidKerberos()" ng-click="enter()">
                    <i class="right arrow icon"></i>
                    @mit.edu
                </div>
                <div class="ui red right labeled icon button"
                     ng-if="!isValidKerberos()" ng-click="enter()">
                    <i class="right arrow icon"></i>
                    @mit.edu
                </div>
            </div>
        </div>

        <div id="success" class="ui page dimmer">
            <div class="content">
                <div class="center">
                    <h2 class="ui inverted icon header">
                        <i class="green circular inverted checked checkbox icon">
                        </i>
                        Thanks {{last_kerberos}}!
                    </h2>
                    <p>You're all signed up for Traders@MIT!</p>
                </div>
            </div>
        </div>

    </body>
</html>

